.anexbotao {
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    width: 10vw;
    margin-top: -4vh;
    border: white;
    color: white;
    outline: none;
    cursor: pointer;
}

.anexbotao:active {
    border: none;
}

.cardtst {}

.formtst {
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 2vh;
    height: 31vh;
}

.formtstocult {
    -webkit-filter: blur(3px);
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 2vh;
    height: 31vh;
}

.assuntotst {
    border: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 22px;
    /* identical to box height */
    color: #ED7839;
    margin-bottom: 1vh;
}

.assuntotst:focus {
    box-shadow: 0px 0px 12px rgba(202, 100, 4, 0.12);
    border: none;
}

.nametst {
    border: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8vw;
    line-height: 15px;
}

.nametst:focus {
    box-shadow: 0px 0px 12px rgba(202, 100, 4, 0.12);
    border: none;
}

.duvidatst {
    border: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 0.95vw;
    line-height: 17px;
    color: #4D4D4D;
}

.duvidatst:focus {
    box-shadow: 0px 0px 12px rgba(202, 100, 4, 0.12);
    border: none;
}

.ocultabotao {
    display: none;
}

.imgjs {
    float: left;
    margin-left: 1vw;
    width: 0.28vw;
}

.imgjs2 {
    float: left;
    margin-left: 1vw;
    width: 2.2vw;
    margin-top: -0.5vh;
    cursor: pointer;
}

.contclass {
    float: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 1vw;
    line-height: 19px;
    /* identical to box height */
    color: #757575;
    margin-left: 1vw;
}

.liketxt {
    float: left;
    margin-top: -0.2vh;
    margin-left: 1vw;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 0.9vw;
    line-height: 19px;
    /* identical to box height */
    color: #757575;
}

.check {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #707070;
    border-radius: 4px;
    position: absolute;
    margin-left: 0vw;
    margin-top: -25vh;
    width: 1.4vw;
}

.aviso {
    position: absolute;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1.08vw;
    line-height: 20px;
    text-align: center;
    margin-left: 28vw;
    margin-top: -20vh;
    color: #707070;
}

.backclass {
    position: absolute;
    /* identical to box height */
    text-decoration-line: underline;
    color: #ED7839;
    margin-left: -5vw;
    margin-top: -15vh;
    border: none;
    background-color: transparent;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 19px;
    cursor: pointer;
}

.respclass {
    position: absolute;
    /* identical to box height */
    text-decoration-line: underline;
    color: #ED7839;
    margin-left: 1vw;
    margin-top: -15vh;
    border: none;
    background-color: transparent;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 19px;
    cursor: pointer;
}

.buttoncreat2 {
    width: 20vw;
    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    border: none;
    outline: none;
    margin-top: 5vh;
}

.buttoncreat2:active {
    outline: none;
    border: none;
}

.trabplus {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 0.95vw;
    line-height: 137.5%;
    /* identical to box height, or 19px */
    text-align: center;
    text-decoration-line: underline;
    color: #F48F44;
    margin-left: 10.5vw;
    margin-top: 4vh;
    width: 16.5vw;
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.imgdisc {
    display: none;
}

.imgplusocult {
    display: none;
}

.imgplus {
    display: inline;
    width: 1.1vw;
}

.texttpic {
    color: white;
    font-size: 1.1vw;
}

.trabocult {
    display: none;
}

.divcard {
    margin-right: 10vw;
    width: 72vw;
    border-radius: 4px;
}

.formrsp {
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 8px;
}

.nametst2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 15px;
    color: #5C5C5C;
    background: #F8F8F8;
    border: none;
    margin-top: 2vh;
}

.nametst2:focus {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border: none;
}

.asnwer {
    margin-top: 2vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 17px;
    color: #4D4D4D;
    background: #F8F8F8;
    border: none;
    margin-bottom: 2vh;
}

.asnwer:focus {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
    border: none;
}

.checkorg {
    position: absolute;
    margin-top: -16vh;
    margin-left: 33vw;
    width: 1.4vw;
}

.autortxt {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 17px;
    /* identical to box height */
    text-align: right;
    color: #ED7839;
    position: absolute;
    margin-top: -16vh;
    margin-left: 64vw;
}

.rsptxt {
    float: left;
    margin-top: -0.2vh;
    margin-left: 3vw;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 350;
    font-size: 0.9vw;
    line-height: 19px;
    /* identical to box height */
    color: #757575;
    cursor: pointer;
}

.sendorg {
    position: absolute;
    margin-top: -3vh;
    margin-left: 34vw;
    width: 1.5vw;
    cursor: pointer;
}

.ocult {
    display: none;
}

@media (max-width: 576px) {
    .assuntotst {
        font-size: 1vw !important;
    }
    .nametst {
        font-size: 0.8vw !important;
    }
    .duvidatst {
        font-size: 0.95vw !important;
    }
    .aviso {
        left: 1vw !important;
    }
    .trabplus {
        width: 14vw !important;
    }
    .anexbotao {
        font-size: 1.5vw !important;
    }
    .autortxt {
        margin-left: 55vw !important;
        margin-top: -20vh !important;
    }
    .checkorg {
        margin-left: 28vw !important;
        margin-top: -19.5vh !important;
    }
    .sendorg {
        margin-left: 28vw !important;
    }
    .imgjs {
        margin-top: -4vh !important;
    }
    .imgjs2 {
        margin-top: -4.3vh !important;
        margin-left: 2vw !important;
    }
    .liketxt {
        margin-top: -5vh !important;
        margin-left: 5vw !important;
    }
    .rsptxt {
        margin-top: -5vh !important;
        margin-left: 3vw !important;
    }
    .contclass {
        margin-top: -5vh !important;
    }
    .nametst2 {
        font-size: 0.8vw !important;
    }
    .asnwer {
        font-size: 1vw !important;
    }
}

@media (max-width: 768px) {
    .assuntotst {
        font-size: 1.2vw !important;
    }
    .nametst {
        font-size: 1vw !important;
    }
    .duvidatst {
        font-size: 1.15vw !important;
    }
    .trabplus {
        width: 15.5vw !important;
    }
    .aviso {
        font-size: 0.9vw !important;
    }
    .imgjs {
        margin-top: 0.5vh !important;
    }
    .imgjs2 {
        margin-top: 0.4vh !important;
    }
    .autortxt {
        margin-left: 59vw !important;
    }
    .checkorg {
        margin-left: 30vw !important;
    }
    .sendorg {
        margin-left: 31vw !important;
    }
}

@media (max-width: 992px) {
    .formtst {
        height: 22.5vh !important;
    }
    .anexbotao {
        margin-left: 2vw !important;
    }
    .imgjs {
        margin-top: 0.6vh !important;
    }
    .imgjs2 {
        margin-top: 0.4vh !important;
    }
    .liketxt {
        margin-top: 0.3vh !important;
    }
    .rsptxt {
        margin-top: 0.3vh !important;
    }
    .contclass {
        margin-top: 0.3vh !important;
    }
    .autortxt {
        margin-left: 59vw !important;
        margin-top: -14vh !important;
    }
    .checkorg {
        margin-left: 30vw !important;
        margin-top: -13.8vh !important;
    }
    .sendorg {
        margin-left: 30vw !important;
    }
}