.navbar {
    padding-left: 15%;
    background-color: #FDF1EB;
    height: 10vh;
}

.p1 {
    flex: 0;
    font-size: 0.7vw;
    margin-bottom: 0;
    margin-left: 4vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.95vw;
    line-height: 16px;
}

.p2 {
    flex: 0;
    font-size: 1vw;
    margin-left: 4vw;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.55vw;
    line-height: 26px;
}

.p3 {
    flex: 0;
    font-size: 0.5vw;
    margin-left: 4vw;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 16px;
}

.borddrop {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-bottom: 1vw;
    width: 8vw;
}

.lng {
    font-family: Quicksand;
    font-size: 1vw;
    line-height: 17px;
    margin-right: 1vw;
    float: left;
    margin-right: 0vw;
    margin-top: 0.25vw;
    max-width: 100%;
}

.hello {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 0.95vw;
    line-height: 17px;
    /* identical to box height */
    text-align: right;
    margin-bottom: 0vh;
    margin-right: 4vw;
}

.email {
    font-family: Quicksand;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7vw;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    margin-right: 4vw;
}

.person {
    margin-left: 9.5vw;
    margin-top: -12vh;
    border-width: 1px;
    border-radius: 20vw;
    width: 2vw;
}

.materia {
    text-align: left;
    margin-left: 19vw;
    margin-top: 4vh;
    max-width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3vw;
    line-height: 25px;
    /* or 125% */
    letter-spacing: 0.05em;
    color: #ED7839;
}

.organiza {
    max-width: 100%;
    max-height: 100%;
}

.buttons {
    margin-top: -8vh;
    margin-right: 3vw;
}

.buttons button {
    background-color: #ED7839;
    margin-left: 1vw;
    border-radius: 4px;
}

.iconlng {
    float: left;
    padding-bottom: 2vh;
    width: 1.8vw;
}

@media (max-width: 576px) {
    .borddrop {
        margin-top: -3vh;
    }
    .iconlng {
        display: none;
    }
    .p1 {
        margin-top: -0.2vh !important;
    }
    .p2 {
        font-size: 1.5vw !important;
    }
    .p3 {
        font-size: 0.9vw !important;
    }
}

@media (max-width: 768px) {
    .p1 {
        font-size: 1.1vw !important;
    }
    .p2 {
        font-size: 1.6vw !important;
    }
    .p3 {
        font-size: 1vw !important;
    }
    .borddrop {
        width: 12vw !important;
    }
    .person {
        width: 3.5vw !important;
    }
}

@media (max-width: 992px) {
    .p1 {
        margin-top: 0vw !important;
        font-size: 1.1vw !important;
    }
    .p2 {
        font-size: 1.6vw !important;
        margin-top: 1.5vw !important;
    }
    .p3 {
        font-size: 1vw !important;
        margin-top: 2vw !important;
    }
    .borddrop {
        width: 10vw !important;
    }
    .hello {
        margin-right: 7vw;
    }
    .email {
        margin-right: 7vw;
    }
    .person {
        margin-top: -10vh;
        margin-left: 9vw;
    }
}